.avatar {
    display: flex;

    &__item {
        border-radius: 50%;
        position: relative;
        height: 80px;
        width: 80px;
        border: 4px solid transparent; // #365A49;
        overflow: hidden;
    }

    &__item--active {
        border: 4px solid #365A49;
    }

    &__link {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0;
        right: 0;
        display: block;
    }

    &__photo {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }
}