.button {
    font-size: rem(25px);
    font-weight: bold;
    border-radius: rem(35px);
    border: none;
    padding: rem(15px) rem(35px);

    &--white {
        background: white;
        color: #365A49;
    }

    &:hover {
        background: #365A49;
        color: white;
    }

    &--green {
        background: #2E4E3F;
        color: white;

        &:hover {
            background: white;
            color: #365A49;
            border: 1px solid #365A49;;
        }
    }

    &--transperent {
        background: transparent;
        font-size: rem(18px);
        color: #365A49;

        &:hover {
            color: black;
            background: none;
        }
    }
}