.fixed-menu {
    &__list {
        position: fixed;
        top: rem(200px);
        right: 3%;
    }

    &__item {
        margin-bottom: rem(5px);
    }

    &__link {
        display: block;
        width: rem(16px);
        height: rem(16px);
        border-radius: 50%;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: rem(6px);
            height: rem(6px);
            background: grey;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--active {
            border: rem(2px) solid grey;
        }
    }

}