@font-face {
    font-family: 'AlegreyaSans-Bold';
    src: url('/fonts/AlegreyaSans-Bold.ttf');
}

@font-face {
    font-family: 'AlegreyaSans-Black';
    src: url('/fonts/AlegreyaSans-Black.ttf');
}

@font-face {
    font-family: 'AlegreyaSans-italic';
    src: url('/fonts/AlegreyaSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'AlegreyaSans-Light';
    src: url('/fonts/AlegreyaSans-Light.ttf');
}

@font-face {
    font-family: 'AlegreyaSans-Regular';
    src: url('/fonts/AlegreyaSans-Regular.ttf');
}
@font-face {
    font-family: 'AlegreyaSans-Medium';
    src: url('/fonts/AlegreyaSans-Medium.ttf');
}
@font-face {
    font-family: 'AlegreyaSans-Thin';
    src: url('/fonts/AlegreyaSans-Thin.ttf');
}