.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: AlegreyaSans-Light;
	margin-left: 7%;;
	max-width: 87%;
}
.contacts__phone.header__contacts-phone{
	@include tablets{
		display: none;
	} 
}
