.information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    color: white;
    margin-left: 2%;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        max-width: rem(165px);
        height: rem(56px);
        margin-left: rem(40px);
    }

    &__icon svg {
        fill: white;
        width: rem(55px);
        height: rem(45px);
    }

    &__text {
        width: rem(80px);
        font-size: rem(16px);
        padding-left: rem(12px);
    }
}
.information{
    @include tablets{
        display: none;
    }
}