.menu {
    margin: 0 10px;
    @include tablets{
        display: none;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__item {
        margin-right: rem(27px);
        white-space: nowrap;
    }

    &__item:last-child {
        margin-left: 0;
    }

    &__item a {
        font-size: rem(18px);
        color: white;
    }
}
