.menu {
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    &__item {
        margin-right: 27px;
    }

    &__item:last-child {
        margin-left: 0;
    }

    &__item a {
        font-size: 18px;
        color: white;
    }
}