.reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    &__content {
        display: flex;
        //justify-content: flex-start;
        position: relative;
        overflow: hidden;
        margin-top: 4%;
        margin-bottom: 2%;
        width: 85%;
        background: url("img/bg/branch.png") top 6% right no-repeat;
        background-color: #F8FAF9;

        @include tablets {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 10%;
        }
        @include phone{
            background: none;
            margin-top: 16%;
        }

        &::before {
            //радиус на фоне
            content: "";
            display: block;
            width: rem(90px);
            height: rem(90px);
            border-radius: 50%;
            background-color: white;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -20%
        }
    }

    &__avatar {
        width: rem(250px);
        height: rem(260px);
        margin: 4%;

        @include tablets {
            width: rem(138px);
            height: rem(138px);
        }
    }

    &__photo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__text {
        width: 46%;

        @include tablets {
            width: 100%;
            
        }

        & h3 {
            font-size: rem(32px);
            text-transform: inherit;
            margin-top: 12%;
            margin-bottom: 6%;

            @include tablets {
                margin-top: 0%;
                margin-bottom: 2%;
                font-family: AlegreyaSans-Bold;
            }
        }

        & p {
            font-size: rem(20px);
            margin-bottom: 10%;
            color: grey;

            @include tablets {
                margin-bottom: 4%
            }
        }

    }
}