.why-chocco {
    &--bg {
        background: url('img/bg/sheet_sketch1.png') left top 45% no-repeat;
        @include tablets{
            background: url('img/bg/sheet_sketch1.png') left top  no-repeat;
        }

        &::after {
            position: absolute;
            bottom: rem(-1100px);
            left: 0;
            content: url('img/bg/candy_bar.png');
        }
    }

    & p {
        color: #666;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;

    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%;

        & h2 {
            font-size: rem(48px);
            margin-bottom: 1%;
        }

        & p {
            width: 41%;
            font-size: rem(18px);
        }

    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5.5%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0 5%;

        &:after {
            position: absolute;
            right: 0;
            top: rem(38px);
            transform: translateX(50%);
            content: url('bg/Combined_shape.png');
        }

        &:last-child {
            &::after {
                display: none;
            }

        }
    }

    &__icon {
        height: rem(115px);
        width: rem(115px);
        border-radius: 50%;
        background: #F2F5F4;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            height: rem(70px);
            width: rem(70px);
        }
    }

    &__text {
        text-align: center;

        & h3 {
            margin-top: 12%;
            font-size: rem(27px);
            text-transform: inherit;
            font-family: AlegreyaSans;
        }

        & p {
            margin-top: 5%;
            width: 90%;
            font-size: rem(17px);
        }
    }
}