@charset "UTF-8";
/* breakpoint*/
/* global_style*/
@import 'css/normalize.css';
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: white;
  font-family: AlegreyaSans-Regular;
}

.container {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

@font-face {
  font-family: "AlegreyaSans-Bold";
  src: url("fonts/AlegreyaSans-Bold.ttf");
}
@font-face {
  font-family: "AlegreyaSans-Black";
  src: url("fonts/AlegreyaSans-Black.ttf");
}
@font-face {
  font-family: "AlegreyaSans-italic";
  src: url("fonts/AlegreyaSans-BoldItalic.ttf");
}
@font-face {
  font-family: "AlegreyaSans-Light";
  src: url("fonts/AlegreyaSans-Light.ttf");
}
@font-face {
  font-family: "AlegreyaSans-Regular";
  src: url("fonts/AlegreyaSans-Regular.ttf");
}
@font-face {
  font-family: "AlegreyaSans-Medium";
  src: url("fonts/AlegreyaSans-Medium.ttf");
}
@font-face {
  font-family: "AlegreyaSans-Thin";
  src: url("fonts/AlegreyaSans-Thin.ttf");
}
/* welcome_page*/
.head {
  height: 100vh;
  min-height: 36.1111111111rem;
}
.head__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1.3333333333rem;
  padding-bottom: 2.7777777778rem;
}
.head--bg {
  background: url("img/bg/sheet_sketch.png") bottom right no-repeat;
  background-color: #61C4D9;
  position: relative;
}
@media screen and (max-width: 768px) {
  .head--bg:before, .head--bg:after {
    display: none;
  }
}
.head--bg:before {
  content: url("img/bg/comp.png");
  position: absolute;
  right: 0;
  bottom: -2.7777777778rem;
}
.head--bg:after {
  content: url("img/bg/sheet_3.png");
  position: absolute;
  left: 2%;
  bottom: -2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .head--bg {
    background: url("img/bg/sheet_sketch.png") top right no-repeat;
    background-color: #61C4D9;
    position: relative;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: AlegreyaSans-Light;
  margin-left: 7%;
  max-width: 87%;
}

@media screen and (max-width: 768px) {
  .contacts__phone.header__contacts-phone {
    display: none;
  }
}

.logo__link {
  max-width: 0.3333333333rem;
  max-height: 1.5555555556rem;
}

.menu {
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.menu__item {
  margin-right: 1.5rem;
  white-space: nowrap;
}
.menu__item:last-child {
  margin-left: 0;
}
.menu__item a {
  font-size: 1rem;
  color: white;
}

.contacts__street {
  font-size: 1rem;
  text-transform: none;
  margin-bottom: 0.5555555556rem;
}
.contacts__phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2777777778rem;
  color: white;
}
.contacts__phone span {
  margin-right: 0.3333333333rem;
}
.contacts__phone img {
  height: 0.6666666667rem;
  width: 0.6666666667rem;
}

.hamburger {
  height: 24px;
  width: 24px;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}
.hamburger__item {
  display: block;
  height: 3px;
  background: white;
  border-radius: 1.5px;
}

.welcom-page__main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

.descriptor {
  color: white;
  width: 46%;
  height: 9.7777777778rem;
  margin-left: 6%;
}
.descriptor h1 {
  font-size: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .descriptor h1 {
    margin-top: 30px;
  }
}
.descriptor p {
  margin-top: 0.9444444444rem;
  font-size: 1.1666666667rem;
  margin-bottom: 1.2777777778rem;
  padding-right: 10%;
}

@media screen and (max-width: 768px) {
  .descriptor {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .descriptor:before {
    content: "";
    display: block;
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("img/bg_tablets/candy.png") no-repeat;
    background-color: transparent;
    background-size: contain;
    position: absolute;
    bottom: 130%;
  }
  .descriptor p {
    padding: 0 16%;
  }
}

.button {
  font-size: 1.3888888889rem;
  font-weight: bold;
  border-radius: 1.9444444444rem;
  border: none;
  padding: 0.8333333333rem 1.9444444444rem;
}
.button--white {
  background: white;
  color: #365A49;
}
.button:hover {
  background: #365A49;
  color: white;
}
.button--green {
  background: #2E4E3F;
  color: white;
}
.button--green:hover {
  background: white;
  color: #365A49;
}
.button--transperent {
  background: transparent;
  font-size: 1rem;
  color: #365A49;
}
.button--transperent:hover {
  color: black;
  background: none;
}

.information {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  color: white;
  margin-left: 2%;
}
.information__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 9.1666666667rem;
  height: 3.1111111111rem;
  margin-left: 2.2222222222rem;
}
.information__icon svg {
  fill: white;
  width: 3.0555555556rem;
  height: 2.5rem;
}
.information__text {
  width: 4.4444444444rem;
  font-size: 0.8888888889rem;
  padding-left: 0.6666666667rem;
}

@media screen and (max-width: 768px) {
  .information {
    display: none;
  }
}

/* why_chocco*/
.why-chocco--bg {
  background: url("img/bg/sheet_sketch1.png") left top 45% no-repeat;
}
@media screen and (max-width: 768px) {
  .why-chocco--bg {
    background: url("img/bg/sheet_sketch1.png") left top no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .why-chocco--bg {
    background: none;
  }
}
.why-chocco--bg::after {
  position: absolute;
  bottom: -61.1111111111rem;
  left: 0;
  content: url("img/bg/candy_bar.png");
}
.why-chocco p {
  color: #666;
  text-align: center;
}
.why-chocco__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.why-chocco__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
.why-chocco__title h2 {
  font-size: 2.5555555556rem;
  font-family: AlegreyaSans-Medium;
  margin-bottom: 1%;
}
@media screen and (max-width: 480px) {
  .why-chocco__title h2 {
    text-align: center;
  }
}
.why-chocco__title p {
  width: 41%;
  font-size: 1rem;
}
@media screen and (max-width: 480px) {
  .why-chocco__title p {
    width: 100%;
    margin-bottom: 10%;
  }
}
.why-chocco__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5.5%;
}
@media screen and (max-width: 768px) {
  .why-chocco__list {
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .why-chocco__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.why-chocco__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 3%;
}
.why-chocco__item:after {
  position: absolute;
  right: 0;
  top: 2.1111111111rem;
  transform: translateX(50%);
  content: url("img/bg/Combined_shape.png");
}
.why-chocco__item:last-child::after {
  display: none;
}
@media screen and (max-width: 480px) {
  .why-chocco__item {
    flex-direction: row;
    margin-bottom: 60px;
  }
  .why-chocco__item :last-child {
    margin-bottom: 0;
  }
}
.why-chocco__icon {
  height: 6.3888888889rem;
  min-width: 6.3888888889rem;
  border-radius: 50%;
  background: #F2F5F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-chocco__icon svg {
  fill: black;
  height: 3.8888888889rem;
  width: 3.8888888889rem;
}
.why-chocco__text {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .why-chocco__text {
    text-align: left;
    margin-left: 20px;
  }
}
.why-chocco__text h3 {
  margin-top: 12%;
  font-size: 1.5rem;
  text-transform: inherit;
  font-family: AlegreyaSans;
}
@media screen and (max-width: 480px) {
  .why-chocco__text h3 {
    margin-top: 0%;
  }
}
.why-chocco__text p {
  margin-top: 6%;
  width: 90%;
  font-size: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .why-chocco__text p {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .why-chocco__text p {
    text-align: left;
  }
}

/* reviews*/
.section__reviews--bg {
  position: relative;
  background: url("img/bg/berries_reviews1.png") top 6% right 2% no-repeat;
}
.section__reviews--bg:before {
  content: url("img/bg/sketch_reviews.png");
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: -8.8888888889rem;
}
.section__reviews--bg:after {
  content: url("img/bg/berries_reviews2.png");
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: -5.3333333333rem;
}
.section__delivery--bg {
  background: url("img/bg/barries_delivery.png") bottom 11% left 5% no-repeat, url("img/bg/fon.png") center/cover no-repeat;
  position: relative;
}
@media screen and (max-width: 480px) {
  .section__delivery--bg {
    background: url("img/bg/fon.png") center/cover no-repeat;
  }
}
.section__delivery--bg:before {
  content: url("img/bg/blackberry.png");
  position: absolute;
  right: 0;
  top: -17%;
}
.section__delivery--bg:after {
  content: url("img/bg/sheet_delivery.png");
  position: absolute;
  right: 1%;
  bottom: 9%;
}
@media screen and (max-width: 480px) {
  .section__delivery--bg:after {
    display: none;
  }
}
.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.section__title {
  margin-top: 9%;
  font-size: 2.6666666667rem;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-top: 3%;
    font-family: AlegreyaSans-Medium;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    text-align: center;
  }
}
.section__title--delivery {
  color: #497870;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.reviews__content {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 85%;
  background: url("img/bg/branch.png") top 6% right no-repeat;
  background-color: #F8FAF9;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    background: none;
    margin-top: 16%;
  }
}
.reviews__content::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
}
.reviews__avatar {
  width: 13.8888888889rem;
  height: 14.4444444444rem;
  margin: 4%;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.6666666667rem;
    height: 7.6666666667rem;
  }
}
.reviews__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__text {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    width: 100%;
  }
}
.reviews__text h3 {
  font-size: 1.7777777778rem;
  text-transform: inherit;
  margin-top: 12%;
  margin-bottom: 6%;
}
@media screen and (max-width: 768px) {
  .reviews__text h3 {
    margin-top: 0%;
    margin-bottom: 2%;
    font-family: AlegreyaSans-Bold;
  }
}
.reviews__text p {
  font-size: 1.1111111111rem;
  margin-bottom: 10%;
  color: grey;
}
@media screen and (max-width: 768px) {
  .reviews__text p {
    margin-bottom: 4%;
  }
}

.avatar {
  display: flex;
}
.avatar__item {
  border-radius: 50%;
  position: relative;
  height: 4.4444444444rem;
  width: 4.4444444444rem;
  border: 0.2222222222rem solid transparent;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .avatar__item {
    height: 3.8888888889rem;
    width: 3.8888888889rem;
    margin-top: 44px;
    margin-left: 14px;
  }
  .avatar__item:first-child {
    margin-left: 0;
  }
}
.avatar__item--active {
  border: 0.2222222222rem solid #365A49;
}
.avatar__link {
  position: absolute;
  top: 0rem;
  left: 0rem;
  bottom: 0;
  right: 0;
  display: block;
}
.avatar__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

/* deliveri*/
.form {
  display: flex;
  justify-content: space-around;
  max-width: 53.3333333333rem;
  margin-top: 2.4444444444rem;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 114px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: flex;
  margin-bottom: 1.1111111111rem;
}
.form__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 0.9444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__title {
  color: #497870;
  font-size: 1rem;
  font-weight: normal;
  text-transform: inherit;
}
.form__input {
  width: 100%;
  height: 3.2222222222rem;
  border-radius: 0.2777777778rem;
  border: none;
}
.form__input:focus {
  border-color: #DEE2BD;
  box-shadow: 0 0 0.2222222222rem 0.2222222222rem #DEE2BD;
  outline: none;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 1.9444444444rem;
  }
  .form__input--textarea {
    height: 5rem;
    resize: none;
  }
}
.form__btn {
  margin-top: 0rem;
}
@media screen and (max-width: 768px) {
  .form__btn {
    margin: 0 auto;
  }
}

.controller {
  margin-top: 1.5555555556rem;
  display: flex;
  flex-wrap: wrap;
  height: 4.4444444444rem;
}
@media screen and (max-width: 480px) {
  .controller {
    justify-content: center;
    margin-bottom: 6%;
  }
}
.controller__check {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.2777777778rem;
  height: 2.2222222222rem;
  cursor: pointer;
  user-select: none;
}
.controller__checkbox {
  display: none;
}
.controller__checkbox:checked ~ .controller__visible::before {
  display: block;
}
.controller__visible {
  border-radius: 50%;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  background-color: white;
  margin-right: 0.5555555556rem;
  position: relative;
}
.controller__visible::before {
  content: "";
  display: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #365A49;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.controller__visible--checkbox .controller__visible {
  border-radius: 10%;
}
.controller__visible--checkbox .controller__visible::before {
  background: url("img/icons/checkmark.svg") no-repeat;
}
.controller__title {
  color: #497870;
  font-size: 1rem;
  font-weight: normal;
  text-transform: inherit;
}

/* map*/
.map {
  display: flex;
  flex-direction: column;
}
.map__container {
  max-width: 100%;
  width: 100%;
}
.map__window {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map__phone--color {
  color: green;
  height: 0.6666666667rem;
  width: 0.6666666667rem;
}

.footer {
  flex: 2;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.social-media__list {
  margin-left: 140px;
}

.social-media__items {
  margin-left: 10px;
  border-radius: 50%;
  width: 37px;
  height: 37px;
}

/* спрайт социальные иконки */
/* start facebook */
.social-media__facebook {
  position: relative;
  width: 37px;
  height: 37px;
}

.social-media__facebook::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: url(img/image/socials/css_sprites.png) -66px -10px;
  opacity: 1;
}

.social-media__facebook::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: url(img/image/socials/css_sprites.png) -122px -10px;
  opacity: 0;
}

.social-media__facebook:hover::before {
  transition: opacity 0.4s;
  opacity: 1;
}

.social-media__facebook:hover::after {
  transition: opacity 0.4s;
  opacity: 0;
}

/* end facebook */
/* start vk */
.social-media__vk {
  position: absolute;
  width: 37px;
  height: 37px;
}

.social-media__vk::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: url(img/image/socials/css_sprites.png) -402px -10px;
  opacity: 1;
}

.social-media__vk::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: url(img/image/socials/css_sprites.png) -10px -10px;
  opacity: 0;
}

.social-media__vk:hover::before {
  transition: opacity 0.4s;
  opacity: 1;
}

.social-media__vk:hover::after {
  transition: opacity 0.4s;
  opacity: 0;
}

/* end vk */
/* start instagram*/
.social-media__instagram {
  position: absolute;
  width: 37px;
  height: 37px;
}

.social-media__instagram::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: url(img/image/socials/css_sprites.png) -178px -10px;
  opacity: 1;
}

.social-media__instagram::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: url(img/image/socials/css_sprites.png) -234px -10px;
  opacity: 0;
}

.social-media__instagram:hover::before {
  transition: opacity 0.4s;
  opacity: 1;
}

.social-media__instagram:hover::after {
  transition: opacity 0.4s;
  opacity: 0;
}

/* end instagram */
/* start telegram */
.social-media__telegram {
  position: absolute;
  width: 37px;
  height: 37px;
}

.social-media__telegram::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: url(img/image/socials/css_sprites.png) -290px -10px;
  opacity: 1;
}

.social-media__telegram::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: url(img/image/socials/css_sprites.png) -346px -10px;
  opacity: 0;
}

.social-media__telegram:hover::before {
  transition: opacity 0.4s;
  opacity: 1;
}

.social-media__telegram:hover::after {
  transition: opacity 0.4s;
  opacity: 0;
}

/* end telegram */
/*fixed-menu*/
.fixed-menu__list {
  position: fixed;
  top: 11.1111111111rem;
  right: 3%;
}
.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__link {
  display: block;
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  background: grey;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-menu__link--active {
  border: 0.1111111111rem solid grey;
}

/*# sourceMappingURL=main.css.map */
